<table class="w-full">
  <thead class="w-full">
    <tr>
      <th><%= t("doc-title") %></th>
      <th><%= t("author") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr class="border-b">
        <td class=""><%= link_to document.title, document %></td>
        <td class=""><%= document.author %></td>

        <td>
					<button class="share"  value="<%= document.id %>, <%= document.title %>, <%= document.author %>"  ><i class='material-icons'>share</i></button>
          <%= link_to "<i class='material-icons'>edit</i>".html_safe, edit_document_path(document) %>
          <%= link_to "<i class='material-icons'>delete</i>".html_safe, document, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<i class='material-icons'>add</i>".html_safe, new_document_path, class:"bg-blue-500 hover:bg-blue-700 text-white  h-10 w-10 flex items-center justify-center rounded-full" %>

<script type="text/javascript">
	$(document).ready(function() {
		$("header").addClass('mb-3')
		$(".share").click(function(event) {
			console.log($(this).val().split(",")[0]);
			var document = $(this).val().split(",")
			var doc_id = document[0]
			var doc_title = document[1]
			var doc_author = document[2]
			if (navigator.share) {
				navigator.share({
					title: 'סח-אי',
					text: 'אנחנו קוראים יחד את ' + doc_title + " מאת " + doc_author + ". רוצה להצטרף?",
					url: "<%= request.base_url %>/documents/" + doc_id,
					// url: "<%= request.base_url %>/documents/" + doc_id  + doc_title.replace(/ /g, "-"),
				})
				.then(() => console.log('Successful share'))
				.catch((error) => console.log('Error sharing', error));
			}

		});
	});

</script>
