<%= content_for :title, @document.title %>

<h1 class="text-5xl"><%= @document.title %><span class=" mr-2">
		<button class="share"  value="<%= @document.id %>, <%= @document.title %>, <%= @document.author %>"  ><i class='material-icons'>share</i></button>
</h1>
<h2  class="text-3xl"><%= @document.author %></h2>

<pre class="content text-lg mb-16 hidden">
	<%= @document.content %>
</pre>

<div class="settings-btn bg-gray-300 w-10 h-10 text-center pt-2 rounded-full rounded-l-none">
	<i class='material-icons'>settings</i>
</div>
<% if user_signed_in? %>
	<div class="overlay absolute top-0 right-0 w-full h-full bg-black flex justify-center hidden">
<% else %>
	<div class="overlay absolute top-0 right-0 w-full h-full bg-black flex justify-center">
<% end %>
	<div class="w-3/4 h-3/4 bg-red-600 self-center rounded-lg text-white flex flex-col justify-center items-center">
		<p class="text-3xl">צריך לכבות את האינטרנט כדי לקרוא את הטקסט</p>
		<%= image_tag "eye-white.svg", class:"w-full"%>
		<p id="message" class="text-3xl"></p>
	</div>
</div>

<div class="settings hidden w-1/2 h-1/4a bg-gray-200 rounded shadow">
	<div class="grid grid-cols-1 gap-4">
		<div class="font-size grid grid-cols-3 gap-4 bg-gray-300">
			<div class="bigger"><i class='material-icons'>add</i></div>
			<div><i class='material-icons'>format_size</i></div>
			<div class="smaller"><i class='material-icons'>remove</i></div>
		</div>
	<div class="dark-toggle"><i class='material-icons'>nights_stay</i></div>
	<!-- <div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
  <div>9</div> -->
</div>
</div>
<!-- <% if action_name == "show" && !user_signed_in? %>
<div class="progress-container fixed top-0 w-full">
	 <div class="progress-bar w-full" id="myBar"></div>
</div>
<% end %> -->
<% unless user_signed_in? %>
  <script type="text/javascript">
	$(document).ready(function() {

		var messages = ['<%= t("messages.a") %>','<%= t("messages.b") %>','<%= t("messages.c") %>',
										'<%= t("messages.d") %>','<%= t("messages.e") %>','<%= t("messages.f") %>']
		$.ajax({
				type: "GET",
				url: "/",
				success: function(msg){
					console.log("Connection active!")
					var randomItem = messages[Math.floor(Math.random()*messages.length)];
					$("#message").html(randomItem)

				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					if(textStatus == 'timeout') {
						console.log("no Connection")
						$(".content").toggle()
						$(".overlay").toggle()
					}
				}
			});
			function handleConnectionChange(event){
					if(event.type == "offline"){
							// console.log("You lost connection.");
							$(".content").toggle()
							$(".overlay").toggle()
					}
					if(event.type == "online"){
							// console.log("You are now back online.");
							$(".content").toggle()
							$(".overlay").toggle()
							var randomItem = messages[Math.floor(Math.random()*messages.length)];
							$("#message").html(randomItem)
					}
					//
					// console.log(new Date(event.timeStamp));
			}

		window.addEventListener('online', handleConnectionChange);
		window.addEventListener('offline', handleConnectionChange);
	});

  </script>
<% else %>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".content").show()
			$(".overlay").hide()

		});
	</script>
<% end %>
<script type="text/javascript">
	$(document).ready(function() {
		window.onscroll = function() {scroll_func()};
		$(".copy_text").click(function(event) {
			copy_text()
		});
		var content = $(".content").html().split("\n")
		$(".content").html("");
		content.forEach(function(el, index) {
			if (el == "") {
			} else {
				$(".content").append( "<p>" + "<span class='text-sm text-gray-600'>" + (index + 1) + "</span> " + el + "</p>" );
			}
		});
		$(".settings-btn").click(function(event) {
			$(".settings").toggle(500);
		});
		$(".bigger").click(function(event) {
			var font_size = parseInt($(".content").css('font-size').replace("px", ""))
			var new_size = font_size + 5
			$(".content").css('font-size', new_size);
		});
		$(".smaller").click(function(event) {
			var font_size = parseInt($(".content").css('font-size').replace("px", ""))
			var new_size = font_size - 5
			$(".content").css('font-size', new_size);
		});
		$(".dark-toggle").click(function(event) {
			$("body").toggleClass('dark-mode');
			$(".settings").toggleClass('settings-dark');
			$(".settings-btn").toggleClass('settings-dark');
			$("nav").toggleClass('footer-dark');
			$("footer").toggleClass('footer-dark');
			$("header").toggleClass('header-dark');
			$(".docs-btn").toggleClass('dark-docs-btn');
			$(".logout-btn").toggleClass('dark-logout-btn');
			$(".back-btn").toggleClass('dark-back-btn');
			$(".progress-bar").toggleClass('dark-progress-bar');
			$(".whatsapp").toggleClass('whatsapp-dark');
			$(".font-size").toggleClass('bg-gray-300').toggleClass('font-size-dark');;
		});

		function scroll_func() {
			var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
			var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
			var scrolled = (winScroll / height) * 100;
			document.getElementById("myBar").style.width = scrolled + "%";
			if (scrolled > 25) {
				$(".progress-container").removeClass('sticky').addClass('fixed');
			}
			else {
				$(".progress-container").removeClass('fixed').addClass('sticky');
			}
		}

		$(".share").click(function(event) {
			console.log($(this).val().split(",")[0]);
			var document = $(this).val().split(",")
			var doc_id = document[0]
			var doc_title = document[1]
			var doc_author = document[2]
			if (navigator.share) {
				navigator.share({
					title: 'סח-אי',
					text: 'אנחנו קוראים יחד את ' + doc_title + " מאת " + doc_author + ". רוצה להצטרף?",
					url: "<%= request.base_url %>/documents/" + doc_id,
					// url: "<%= request.base_url %>/documents/" + doc_id  + doc_title.replace(/ /g, "-"),
				})
				.then(() => console.log('Successful share'))
				.catch((error) => console.log('Error sharing', error));
			}

		});
	});
</script>
