<%= content_for :title, @document.title %>

<h1 class="text-5xl"><%= @document.title %><span class="share mr-2"><i class='material-icons'>share</i></span>
	<div class="share-links bg-gray-200 absolute rounded shadow w-24 hidden left-0 top-0 mt-1 ml-1">
		<a  href="whatsapp://send?text=<%= t("join", title: @document.title, author: @document.author) %> <%= request.original_url %>"><img class="inline" src="https://img.icons8.com/color/48/000000/whatsapp.png"></a>
		<button class="copy_text""><img src="https://img.icons8.com/material-outlined/24/000000/copy.png"></button>
	</div>
</h1>
<h2  class="text-3xl"><%= @document.author %></h2>

<pre class="content text-lg mb-16 hidden">
	<%= @document.content %>
</pre>

<div class="settings-btn bg-gray-300 w-10 h-10 text-center pt-2 rounded-full rounded-l-none">
	<i class='material-icons'>settings</i>
</div>

<div class="overlay absolute top-0 right-0 w-full h-full bg-black flex justify-center">
	<div class="w-3/4 h-3/4 bg-red-600 self-center rounded-lg text-white flex flex-col justify-center items-center">
		<p class="text-3xl">צריך לכבות את האינטרנט כדי לקרוא את הטקסט</p>
		<%= image_tag "eye-white.svg", class:"w-full"%>
		<p id="message" class="text-3xl"></p>
	</div>
</div>

<div class="settings hidden w-1/2 h-1/4a bg-gray-200 rounded shadow">
	<div class="grid grid-cols-1 gap-4">
		<div class="font-size grid grid-cols-3 gap-4 bg-gray-300">
			<div class="bigger"><i class='material-icons'>add</i></div>
			<div><i class='material-icons'>format_size</i></div>
			<div class="smaller"><i class='material-icons'>remove</i></div>
		</div>
	<div class="dark-toggle"><i class='material-icons'>nights_stay</i></div>
	<!-- <div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
  <div>9</div> -->
</div>
</div>

<% unless user_signed_in? %>
  <script type="text/javascript">
	$(document).ready(function() {
		var messages = ['<%= t("messages.a") %>','<%= t("messages.b") %>','<%= t("messages.c") %>',
										'<%= t("messages.d") %>','<%= t("messages.e") %>','<%= t("messages.f") %>']
		$.ajax({
				type: "GET",
				url: "/",
				success: function(msg){
					console.log("Connection active!")
					var randomItem = messages[Math.floor(Math.random()*messages.length)];
					$("#message").html(randomItem)

				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					if(textStatus == 'timeout') {
						console.log("no Connection")
						$(".content").toggle()
						$(".overlay").toggle()
					}
				}
			});
			function handleConnectionChange(event){
					if(event.type == "offline"){
							// console.log("You lost connection.");
							$(".content").toggle()
							$(".overlay").toggle()
					}
					if(event.type == "online"){
							// console.log("You are now back online.");
							$(".content").toggle()
							$(".overlay").toggle()
							var randomItem = messages[Math.floor(Math.random()*messages.length)];
							$("#message").html(randomItem)
					}
					//
					// console.log(new Date(event.timeStamp));
			}

		window.addEventListener('online', handleConnectionChange);
		window.addEventListener('offline', handleConnectionChange);
	});

  </script>
<% end %>
<script type="text/javascript">
	$(document).ready(function() {
		window.onscroll = function() {scroll_func()};
		$(".copy_text").click(function(event) {
			copy_text()
		});
		var content = $(".content").html().split("\n")
		$(".content").html("");
		content.forEach(function(el, index) {
			if (el == "") {
			} else {
				$(".content").append( "<p>" + "<span class='text-sm text-gray-600'>" + (index + 1) + "</span> " + el + "</p>" );
			}
		});
		$(".settings-btn").click(function(event) {
			$(".settings").toggle(500);
		});
		$(".bigger").click(function(event) {
			var font_size = parseInt($(".content").css('font-size').replace("px", ""))
			var new_size = font_size + 5
			$(".content").css('font-size', new_size);
		});
		$(".smaller").click(function(event) {
			var font_size = parseInt($(".content").css('font-size').replace("px", ""))
			var new_size = font_size - 5
			$(".content").css('font-size', new_size);
		});
		$(".dark-toggle").click(function(event) {
			$("body").toggleClass('dark-mode');
			$(".settings").toggleClass('settings-dark');
			$(".settings-btn").toggleClass('settings-dark');
			$("nav").toggleClass('footer-dark');
			$("footer").toggleClass('footer-dark');
			$(".docs-btn").toggleClass('dark-docs-btn');
			$(".logout-btn").toggleClass('dark-logout-btn');
			$(".back-btn").toggleClass('dark-back-btn');
			$(".font-size").toggleClass('bg-gray-300').toggleClass('font-size-dark');;
		});
		$(".share").click(function(event) {
			$(".share-links").toggle(500);
		})

		function scroll_func() {
			var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
			var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
			var scrolled = (winScroll / height) * 100;
			document.getElementById("myBar").style.width = scrolled + "%";
		}


			function copy_text() {
				var dummy = document.createElement('input'),
					text = window.location.href;
			document.body.appendChild(dummy);
			dummy.value = "אנחנו קוראים יחד את <%= @document.title %> של <%= @document.author %> רוצה להצטרף? \r\r\r" + text;
			dummy.select();
			document.execCommand('copy');
			document.body.removeChild(dummy);

		}
		function sleep(milliseconds) {
			const date = Date.now();
			let currentDate = null;
			do {
				currentDate = Date.now();
			} while (currentDate - date < milliseconds);
		}
	});
</script>
