<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag  'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap&subset=hebrew" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= render 'application/favicon' %>
  </head>

 <body class="bg-white h-full">
	 <%= render "header" if user_signed_in? %>

   <% if action_name == "show" && !user_signed_in? %>
     <div class="progress-container fixed top-0 w-full">
         <div class="progress-bar w-full" id="myBar"></div>
     </div>
   <% end %>

    <main class="lg:px-10a px-4a h-full">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
		<% if user_signed_in? %>
		<div class="hidden">
			<% flash.each do |type, message| %>
				<% if type == "alert" %>
					<div class="bg-red-500 message">
						<div class="container px-2 mx-auto py-4 text-white text-center "><%= message %></div>
					</div>
				<% end %>
				<% if type == "notice" %>
					<div class="bg-green-500 message">
						<div class="container px-2 mx-auto py-4 text-white text-center"><%= message %></div>
					</div>
				<% end %>
			<% end %>
		</div>
		<footer class="h-12">
			<nav class="flex items-center justify-between flex-wrap bg-gray-100 py-1 lg:px-10 px-3 text-gray-700 border-t border-gray-400">

				<div class="w-full block lg:flex-1 lg:flex items-center text-center lg:text-left">
					<div class="w-full block lg:flex lg:flex-row lg:flex-1 my-2  text-center lg:text-left lg:justify-end items-center">
						<% unless action_name == "index" %>
							<%= link_to "<i class='material-icons'>arrow_forward</i>".html_safe, documents_path, class: "back-btn float-right" %>
						<% end %>
						<div class="float-left">
							<%= link_to t("documents"), documents_path, class:"docs-btn mx-1 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
							<%= link_to t("logout"), destroy_user_session_path, method: :delete, class:"logout-btn bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded" %>
						</div>
					</div>
				</div>
			</nav>
		</footer>
		<% else %>
		<% flash.each do |type, message| %>
		<% if type == "alert" %>
		<div class="bg-red-500 message">
			<div class="container px-2 mx-auto py-4 text-white text-center "><%= message %></div>
		</div>
		<% end %>
		<% if type == "notice" %>
		<div class="bg-green-500 message">
			<div class="container px-2 mx-auto py-4 text-white text-center"><%= message %></div>
		</div>
		<% end %>
		<% end %>
<% end %>
  </body>
</html>
